<?xml version="1.0"?>
<web-app>
    <servlet>
        <servlet-name>cookieServlet</servlet-name>
        <servlet-class>it.sevenbits.servlet.cookieservlet.servlets.identification.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieServlet</servlet-name>
        <url-pattern>/cookie/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tasksServlet</servlet-name>
        <servlet-class>it.sevenbits.servlet.cookieservlet.servlets.taskmanager.TasksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskServlet</servlet-name>
        <servlet-class>it.sevenbits.servlet.cookieservlet.servlets.taskmanager.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tasksServlet</servlet-name>
        <url-pattern>/tasks/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskServlet</servlet-name>
        <url-pattern>/task/</url-pattern>
    </servlet-mapping>
</web-app>
